/* INDICE */

/* 1.- General */
/* 2.- Inicio */
/* 3.- Proyectos */
/* 3.1.- Cada proyecto */
/* 4.- Sobre mí */
/* 5.- Contacto */

/* 1.- General */
/* Fuentes */
@font-face {
    font-family: "Oswald Medium";
    src: url('../assets/fonts/Oswald-Medium.ttf');
}
@font-face {
    font-family: "Lora Medium";
    src: url('../assets/fonts/Lora-Medium.ttf');
}
@font-face {
    font-family: "Work Sans Medium";
    src: url('../assets/fonts/WorkSans-Medium.ttf');
}

body {
    font-size: 18px;
    color: #00060B;
    font-family: "Work Sans Medium";
}

/* Header */
/* Falta la fuente */
.header {
    color: #F5F9FD;
}
.menu div a {
    color: #F5F9FD;
    text-decoration: none;
    font-family: "Oswald Medium";
}
/* Main */



/* Footer */
.footer {
    color: #F5F9FD;
}

/* 2.- Inicio */
/* Presentación */
.presentacion h2 {
    font-size: 20px;
    font-family: "Lora Medium";
}
.presentacion h1 {
    font-size: 36px;
    font-family: "Lora Medium";
}
.boton {
    text-decoration: none;
    color: #00060B;
    font-family: "Work Sans Medium";
}
/* Enlaces a las otras páginas */
.circulo h3 {
    font-size: 20px;
    color: #F5F9FD;
    font-family: "Oswald Medium";
} 
.primer-circulo, .segundo-circulo, .tercer-circulo {
    text-decoration: none;
}
/* 3.- Proyectos */
/* Introducción de la página  */
.texto-introduccion h1 {
    font-size: 36px;
    font-family: "Lora Medium";
    color: #F5F9FD;
}
.los-proyectos-texto {
    color: #F5F9FD;
}
/* Lista de proyectos */
.lista-proyectos a {
    text-decoration: none;
}
.lista-proyectos article {
    color: #F5F9FD;
}
.nombre-proyecto h2 {
    font-family: "Lora Medium";
    font-size: 20px;
}
/* 3.1.- Cada proyecto */
/* Encabezado de página */
.encabezado-proyecto h1 {
    font-size: 36px;
    font-family: "Lora Medium";
    color: #F5F9FD;
}
.encabezado-proyecto p {
    color: #F5F9FD;
}
/* Contenedor del contenido */
/* Contenido */
.contenido-proyecto h2 {
    font-family: "Lora Medium";
    font-size: 20px;
}
.contenido-proyecto h3 {
    font-family: "Lora Medium";
    font-size: 18px;
}
.contenido-proyecto a {
    text-decoration: none;
    color: #00060B;
}
/* Datos del proyecto */
.datos-proyecto p {
    font-weight: bold;
}
.datos-proyecto p span {
    font-weight: normal;
}

/* 4.- Sobre mí */
.sobre-mi-texto {
    color: #F5F9FD;
}