/* INDICE */

/* 1.- General */
/* 2.- Inicio */
/* 3.- Proyectos */
/* 4.- Sobre mí */
/* 5.- Contacto */

/* 1.- General */
body {
    background-color: #A5BDD0;
}
/* Header */
.header {
    background-color: #01101C;
}
/* Maquetación */
.menu {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo {
    margin: 0;
    width: 150px;
}
.paginas {
    margin: 0;
    width: calc(100vw - 150px - 150px - 4px);
    text-align: right;
}
.paginas a {
    margin-left: 1em;
}
.redes-menu {
    margin: 0;
    width: 150px;
    text-align: right;
}
.redes-menu a i {
    padding: 0 0.5em;
    color: #A5BDD0;
}


/* Footer */
.footer {
    background-color: #01101C;
}
