/* INDICE */

/* 1.- General */
/* 2.- Inicio */
/* 3.- Proyectos */
/* 3.1.- Cada proyecto */
/* 4.- Sobre mí */
/* 5.- Contacto */

/* 1.- General */
body {
    background-color: #F5F9FD;
}
/* Header */
.header {
    background-color: #00060B;
}
/* Maquetación */
.menu {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin: 0;
    width: 150px;
}
.paginas {
    margin: 0;
    width: calc(100vw - 150px - 150px - 4px);
    text-align: right;
}
.paginas a {
    margin-left: 1em;
}
.redes-menu {
    margin: 0;
    width: 150px;
    text-align: right;
}
.redes-menu a i {
    margin: 0 0.5em;
    color: #F5F9FD;
}

/* Botón de regreso al inicio */
.enlace-regreso-menu {
    position:fixed;
	width:36px;
	height:36px;
	bottom:45px;
	right:45px;
    background-color:#B96A00;
	color:#F5F9FD;
	border-radius:18px;
	text-align:center;
}
.enlace-regreso-menu i {
    font-size: 32px;
    margin-top:2px;
}

/* Footer */
.footer {
    background-color: #00060B;
    padding: 1rem 2rem;
    text-align: center;
}
.redes-footer {
    text-align: center;
}
.redes-footer a {
    text-decoration: none;
}
.redes-footer i {
    margin: 0 0.5em;
    color: #F5F9FD;
}

/* 2.- Inicio */
/* Hero */
.hero img {
    width: 100%;
    height: auto;
}
/* Presentación */
.presentacion {
    margin: 20vh 20vw;
    padding: 2rem;
}
.presentacion h2, .presentacion h1 {
    margin: 0;
}
.subrayado {
    margin: 1em 0 0;
    width: 25%;
    height: 0.25em;
    background-color: #B96A00;
}
.presentacion-texto {
    margin: 4em 0 2em;
}
.contenedor-boton{
    margin: 0;
}
.boton {
    margin: 0;
    padding: 0.25em 1em;
    border: 2px solid #00060B;
}
/* Enlaces a las otras páginas */
.degradado-enlaces-paginas {
    height: 4em;
    background: linear-gradient(180deg, #E7EEF4, #F5F9FD);
}
.enlaces-paginas {
    margin: calc(20vh - 4em) 20vw 20vh;
    padding: 2rem;
}
/* Maquetado */
.circulos-arriba {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circulo-abajo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Formas y colores */
.primer-circulo .circulo, .segundo-circulo .circulo {
    width: 10em;
    height: 10em;
    background-color: #00060B;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primer-circulo .circulo {
    margin-right: 2em;
}
.segundo-circulo .circulo {
    margin-left: 2em;
}
.tercer-circulo .circulo {
    margin-top: 3em;
    width: 15em;
    height: 7.5em;
    background-color: #00060B;
    border-radius: 0 0 7.5em 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circulo h3 {
    margin: 0 0 0.5em;
}
.triangulo {
    width: 0; 
    height: 0; 
    border-left: 1.44em solid transparent;
    border-right: 1.44em solid transparent;     
    border-bottom: 2.5em solid #00060B;
}
.circulo i {
    color: #F5F9FD;
    font-size: 20px;
}


/* 3.- Proyectos */
/* Introducción de la página */
.introduccion-pagina {
    display: flex;
    flex-direction: row;
}
/* Título de la página */
.titulo-pagina {
    width: 33.33vw;
    padding: 6em 2em;
}
.titulo-pagina .circulo {
    margin-left: calc(33.33vw/2 - 7.5em);
    width: 10em;
    height: 10em;
    background-color: #00060B;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-pagina .triangulo {
    margin-left: calc(33.33vw/2 + 4.5em);
}
/* Container */
.container-texto-introduccion {
    width: 66.67vw;
    background-color: #00060B;
}
/* Degradado */
.degradado-texto-introduccion {
    height: 4em;
    background: linear-gradient(180deg, #01101C, #00060B);
}
/* Texto de introducción */
.texto-introduccion {
    padding: 2em 4em 6em;
}
.texto-introduccion h1 {
    margin: 0;
}
.los-proyectos-texto {
    margin: 2em 0 0;
}

/* Lista de proyectos */
.degradado-lista-proyectos {
    height: 4em;
    background: linear-gradient(180deg, #E7EEF4, #F5F9FD);
}
.lista-proyectos {
    padding: 2em 4em 6em;
}
/* Maquetado */
.lista-proyectos article {
    padding: 4em;
    background-color: #00060B;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.nombre-proyecto {
    width: 20em;
}
.subrayado-nombre-proyecto {
    margin: 1em 0 0;
    width: 60%;
    height: 0.15em;
    background-color: #B96A00;
}
.espacio-del-proyecto {
    width: calc(100vw - 16em - 35em);
    height: 0.1em;
    margin: 0 4em;
    background-color: #F5F9FD;
}
.detalles-proyecto {
    width: 15em;
}
.espacio-entre-proyectos {
    height: 0.25em;
    background-color: #F5F9FD;
}

/* 3.1.- Cada proyecto */
/* Encabezado de página */
.degradado-encabezado-proyecto {
    height: 4em;
    background: linear-gradient(180deg, #01101C, #00060B);
}
.encabezado-proyecto {
    padding: 2em 10em 6em;
    background-color: #00060B;
}
.subrayado-encabezado-proyecto {
    margin: 1em 0;
    width: 50%;
    height: 0.25em;
    background-color: #B96A00;
}
.encabezado-proyecto h1, .encabezado-proyecto p {
    margin: 0;
}

/* Contenedor del contenido */
.contenedor-contenido-proyecto {
    display: flex;
    flex-direction: row;
}
/* Contenido de proyecto */
.contenido-proyecto {
    width: 75vw;
    padding: 6em 4em 6em 10em;
}
.subrayado-subtitulo2-proyecto {
    margin-bottom: 2em;
    height: 0.15em;
    background-color: #00060B;
}
.contenido-proyecto img {
    width: calc(75vw - 10em);
}

/* Datos del proyecto */
.contenedor-datos-proyecto {
    width: 25vw;
    padding: 6em 0;
}
.datos-proyecto {
    padding: 2em;
}

